*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    
}

body{
    width: 80%;
    margin: auto;
    background-color: black;
}

h1{font-size: 3rem;
    margin-top:5rem;
}
h2{font-size: 2.7rem;
    margin-top:5rem;
}
p{
    font-size: 2.2rem;
    margin-top:3.5rem;
}

a:link, a:visited, a:active {
    text-decoration:none;
    
}

nav{
    background-color: rgb(16, 143, 186);
    align-items: center;
    font-size: 2.5rem;
    justify-content: center;
}
nav ul li{
    border: 1px black solid;
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
}
nav ul li{
    background-color: rgb(254, 142, 5);
}
nav ul li, a:hover{
    color: white;
}

nav ul{
    display: flex;
    justify-content: center;
    column-gap: 10rem; 
}

main{
    text-align: center;
    margin: 20px;
    padding: 2rem;
    background-color: antiquewhite;
}

.div_audience{
    display: flex;
    margin: 2rem;
}

.img_audience, img{
    width: 50%;
    border-radius: 2rem;
    margin-top: 1rem;
}

.bs{
    margin: 2rem;
}

footer{
    color: white;
}

/* Typography */

.typography{
    font-family: Quicksand;
}

@media screen and (max-width: 650px){
    nav ul{
        display: block;
        justify-content: center;
        text-align: center;
    }

    body{
        width: 100%;
    }

    .div_audience{
        display: block;
    }

    img{
        width: 100%;
        height: 100%;
    }

}